**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/out
**/node_modules
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
**/*.md
**/*.txt
**/LICENSE
**/.env*
**/appsettings.Development.json
**/appsettings.*.local.json
**/*.user
**/*.suo
**/*.cache
**/TestResults
**/.coverage

